#
# This is the default config file. It allows all users to do anything,
# so don't use it on production systems.
#
# Look here for more config file examples:
# https://github.com/verdaccio/verdaccio/tree/master/conf
#

# path to a directory with all packages
storage: {{ verdaccio_datadir }}/storage

# path to a directory with plugins to include
plugins: {{ verdaccio_datadir }}/plugins

web:
  title: {{ verdaccio_web_title }}
  gravatar: {{ verdaccio_web_gravatar }}
  sort_packages: {{ verdaccio_web_sort_packages }}

auth:
  {{ verdaccio_auth | to_nice_yaml(width=80, indent=2) | indent(2) }}

# a list of other known repositories we can talk to
uplinks:
{% for uplink in verdaccio_uplinks %}
  {{ uplink }}:
    url: {{ verdaccio_uplinks[uplink].url }}
{% if 'auth' in verdaccio_uplinks[uplink] %}
    auth:
      type: {{ verdaccio_uplinks[uplink].auth.type | default('bearer') }}
      token: "{{ verdaccio_uplinks[uplink].auth.token }}"
{% endif %}
{% endfor %}

packages:
{% for package in verdaccio_packages %}
  '{{ package }}':
    access: {{ verdaccio_packages[package].access | default(verdaccio_packages_defaults.authenticate.access) }}
    publish: {{ verdaccio_packages[package].publish | default(verdaccio_packages_defaults.authenticate.publish) }}
    unpublish: {{ verdaccio_packages[package].unpublish | default(verdaccio_packages_defaults.authenticate.unpublish) }}
    proxy: {{ verdaccio_packages[package].proxy | default(verdaccio_packages_defaults.proxy) }}

{% endfor %}

# log settings
logs:
  - {type: stdout, format: pretty, level: http}
  - {type: file, path: verdaccio.log, level: info}

listen: {{ verdaccio_listen_address }}:{{verdaccio_listen_port }}
