[Unit]
Description=verdaccio Service

[Service]
Type=simple
User=verdaccio
WorkingDirectory={{ verdaccio_datadir }}
ExecStart={{ verdaccio }} -c {{ verdaccio_configdir }}/verdaccio.yml

[Install]
WantedBy=multi-user.target
